body {
    font-family: Arial, Helvetica, sans-serif; /* Sayfa fontunu belirler */
    text-align: center; /* Metinleri merkezi hizalar */
}

#board {
    height: 540px; /* Tahta yüksekliği */
    width: 630px; /* Tahta genişliği */
    background-color: blue; /* Arka plan rengi */
    border: 10px solid navy; /* Kenarlık rengi ve kalınlığı */

    margin: 0 auto; /* Tahtayı sayfa ortasına hizalar */
    display: flex; /* Ögeleri yatay olarak hizalar */
    flex-wrap: wrap; /* Yatayda sığmayan ögeleri bir sonraki satıra alır */
}

.tile {
    height: 70px; /* Taşın yüksekliği */
    width: 70px; /* Taşın genişliği */
    margin: 5px; /* Taşlar arasındaki boşluk */

    /* Yuvarlak taşlar için */
    background-color: white; /* Arka plan rengi */
    border-radius: 50%; /* Kenar yarıçapı (yuvarlak taşlar için) */
    border: 5px solid navy; /* Kenarlık rengi ve kalınlığı */
}

.red-piece {
    background-color: red; /* Kırmızı taşların rengi */
}

.yellow-piece {
    background-color: yellow; /* Sarı taşların rengi */
}