@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Roboto", sans-serif;
}
body{
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
background: white;
}
.container{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;
background-color: aqua;
gap: 30px;
padding: 40px 40px;
}
h2{
font-size: 2.5em;
color: red;
letter-spacing: 0.1em;
text-transform: uppercase;
}
.sonuc{
visibility: hidden;
}
.goster{
visibility: visible;
font-size: 2em;
color: #FFF;
font-weight: 600;
}
.reset{
padding: 15px 20px;
color: white;
background:black;
border: none;
font-size: 1.4em;
font-weight: 600;
text-transform: uppercase;  
letter-spacing: 0.1em;
cursor: pointer;  
}


.game{
width: 540px;
height: 420px;
display: flex;
flex-wrap: wrap;
gap: 10px;
transform-style: preserve-3d;
perspective: 450px;
}

.item{
position: relative;
width: 80px;
height: 80px;
display: flex;
align-items: center;
justify-content: center;
font-size: 3em;
background: #FFF;
transform: rotateY(180deg);
transition: 0.25s; 
}


.item.kutuAc
{
transform: rotateY(0deg);
}
.item::after
{
content: '';
position: absolute;
inset: 0;
background: #106688;
transition: 0.25s;
transform: rotateY(0deg);
backface-visibility: hidden;
}
.kutuAc:after,
.kutuEsle:after{
transform: rotateY(180deg);
}